.edu-btn-primary {
    background: #289BDE;

}

.edu-btn-primary:hover {
    background: #289BDE;

}

.size {
    height: 590px;
}

.elearn-bg {
    background: #F4FAFD;

}

@media (max-width:990px) {
    .picture {
        display: none;
    }

    .size {
        height: 260px;
    }

    .company {
        display: none;
    }
}